*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    display: flex;
    background-color: black;
    height: 70px;
}
.heading {
    position: relative;
    margin: 10px;
    left: 50%;
    top:15px;
    list-style: none;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .heading{
        display: none;
    }
}

.logo img{
    width: 120px;
    position: absolute;
    left: 50px;
    top: 10px;

}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .logo img{
        display: none;
    }
}
.header .heading a{
    text-decoration: none;
    color: white;

}
.header .heading a:hover{
    color: red;
}
.container{
    width: 100%;
    height: 200px;
    background-color: #debabff5;
    position: relative;
    top: -201px;
}

.photo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 685px;
    bottom: 132px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .photo img{
        position: relative;
        left: 91px;
    }
}
.content{
    position: absolute;
    left: 36%;
    text-align: center;
    top: 79px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .content{
        left: 131px;
        position: absolute;
        width: 0;
    }
}

.back-up{
    background-image: url(./keyboard.jpg);
    background-size: cover;
    height: 379px;
}


.facebook img{
    position: absolute;
    left: 75%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .facebook img{
        position: absolute;
        left: 7px;
        top: -231px;
        width: 27px;
    }
}
.insta img{
    position: absolute;
    left: 80%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .insta img{
        position: absolute;
        left: 42px;
        top: -231px;
        width: 27px;
    }
}
.whatsapp img{
    position: absolute;
    left: 85%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .whatsapp img{
        position: absolute;
        left: 77px;
        top: -231px;
        width: 27px;
    }
}
.twitter img{
    position: absolute;
    left: 90%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .twitter img{
        position: absolute;
        left: 111px;
        top: -229px;
        width: 27px;
    }
}
.linkedin img{
    position: absolute;
    left: 95%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .linkedin img{
        position: absolute;
        left: 150px;
        top: -231px;
        width: 27px;
    }
}
.call img{
    position: absolute;
    left: 2%;
    top: 15px;
    width: 35px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .call img{
        position: absolute;
        left: 237px;
        top: -229px;
        width: 27px;
    }
}
.call1{
    text-decoration: none;
    color: black;
    position: absolute;
    left:80px;
    top: 23px;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .call1{
        position: absolute;
    top: -222px;
    color: white;
    left: 269px;
    z-index: 1;
    font-size: 14px;
       
    }
}
.cv{
    position: absolute;
    left: 46%;
    top: 165px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: skyblue;
    cursor: pointer;
    border: 0px;
    
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .cv{
        position: absolute;
        top: 143px;
        color: white;
        left: 111px;
        font-size: 14px;
    }
}
.cv:hover{
    background-color: rgba(135, 207, 235, 0.789);
}
.cv a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: bold;
}

/* About */

#about-heading{
    position: relative;
    bottom: 197px;
    background-image: url(./about.jpg);
    background-size: cover;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 90px;
}


.about-box{
    width: 95%;
    height: 270px;
    border: 2px dotted red;
    position: relative;
    bottom: 145px;
    left: 30px;
    padding: 10px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .about-box{
        position: relative;
        left: 4px;
        width: 328px;
        top: -186px;
        height: 500px;
       
    }
}
.me{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 25px;
    font-family: sans-serif;
}
.first{
    line-height: 29px;
    font-size: 17px;
    position: absolute;
    left: 44px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .first{
        position: relative;
        left: 3px;
        line-height: 25px;
        font-size: 14px;
        text-align: center;
       
    }
}

/* ============Work===================== */
#work{
    position: relative;
    bottom: 100px;
    background-image: url(./about.jpg);
    background-size: cover;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 90px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    #work{
        position: relative;
        top: -145px;
}
}
.work-flex{
    display: flex;
    position: relative;
    bottom: 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .work-flex{
        position: relative;
        top: -108px;
        width: 348px;
        left: 6px;
}
}
.work-content{
    width: 400px;
    height: 200px;
    border: 2px dotted red;
    text-align: center;
    font-family: sans-serif;
    line-height: 24px;
    padding: 10px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .work-content{
        position: relative;
        top: -24px;
        width: 364px;
        left: -2px;
        margin: 10px;
        padding: 8px;
}
}
.work-content:hover{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.36);
}
.work-content img{
    width: 100px;
    margin-top:20px;
    top: 50px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .work-content img{
        position: relative;
        top: auto;
        width: 100px;
        margin: -6px;
        padding: 8px;
}
}

@media only screen and (min-width: 360px) and (max-width: 640px){
    .media{
        color: black;
        font-size: 18px;
        position: relative;
        left: -104px;
        line-height: 26px;
        width: 319px;
    }
}

/* ====================Contact Us=================================== */

#contact{
    position: relative;
    background-image: url(./about.jpg);
    background-size: cover;
    height: 100px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 90px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    #contact{
        position: relative;
        bottom: 117px;
    }
}

.form{
    width: 57vw;
    height: 60vh;
    border: 2px dashed red;
    left: 62px;
    box-sizing: content-box;
    position: relative;
    left: 315px;
    top:40px;
    background-color: #e1686828;
    padding: 20px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .form{
        position: relative;
        left: 5px;
        width: 305px;
        height: 522px;
        top: -91px;
    }
}

.contact-heading{
    color: rgb(255, 34, 71);
    line-height: 50px;
}
.name{
    position: relative;
    border-radius: 5px;
    margin: 5px;
    height: 20px;
    background-color: #f8839346;
    top: 40px;
    padding: 10px;
    
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .name{
        width: 147px;
        height: 20px;
        margin-left: -9px;
    }
}
.text{
    height: 100px;
    padding: 10px;
    width: 365px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .text{
        width: 149px;
        height: 63px;
    }
}

.button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(242, 78, 105);
    font-size: 15px;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(138, 23, 44) ;
}

.info{
    position: absolute;
    color: rgb(231, 58, 87);
    left: 65%;
    bottom: 155px;
    font-size: 25px;
    font-weight: bold;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .info{
        position: absolute;
        top: 129px;
        left: 187px;
        text-align: center;
    }
}
.address{
    font-size: 15px;
    font-weight: 100;
    color: black;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .address{
        font-weight: bold;
        font-size: 15px;
    }
}
h3~a{
    text-decoration: none;
    font-size: 15px;
    color: blue;
}

/* ===============footer============= */

footer{
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    top: 80px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    footer{
        position: relative;
        top: 79px;
        height: 245px;
    }
}
.footer-content{
    display: flex;
    flex-direction: column;
    position: absolute;;
    left: 500px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .footer-content{
        left: 24px;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 124px;
    }
}
.footer-content a{
    text-decoration: none;
    color: white;
    margin: 10px;
}
.footer-content a:hover{
    color: red;
}

.map{
    position: absolute;
    bottom: 1px;
    height: 198px;
    left: 67%;
    width: 500px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .map{
        position: absolute;
        top: -165px;
        left: 3px;
        text-align: center;
        width: 354px;
        height: 161px;
    }
}
.call2{
    text-decoration: none;
    color: white;
    position: absolute;
    left:80px;
    top: 20px;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .call2{
        position: absolute;
        top: 72px;
        left: 115px;
    }
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    #call3 img{
        position: absolute;
        width: 30px;
        top: 70px;
        left: 79px;
    }
}
.social img{
    width: 30px;
    position: relative;
    top: 70px;
    left: 30px;
    margin: 5px;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .social{
        position: absolute;
        top: -60px;
        left: 12px;
      
    }
}
.copy{
    position: relative;
    left: 427px;
    color: navajowhite;
    top: 173px;
    position: absolute;
}
.copy a{
    text-decoration: none;
    color: navajowhite;
}
.copy a:hover{
    color: red;
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .copy{
        position: absolute;
        top: 189px;
        left: -7px;
        text-align: center;
        line-height: 24px;
    }
}